.logo {
    width: 240px;
    -o-border-image: auto;
    }

.title {
    color: rgb(255, 0, 221);
    font-size: 5rem;
    text-align: 
    center
}


p {
  
  color: #0e0d0d7a;
  font-size: 2rem;
  font-style: oblique;
}
 